<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test</title>
</head>
<body>
<h2>Registrera</h2>
<form th:action="@{/registerBooking}" th:object="${booking}" method="post">

    <p th:if="${error}" th:text="${error}" style="color:red;"></p>

    <input type="hidden" th:field="*{room.id}" />
    <input type="hidden" th:field="*{guests}" />
    <input type="hidden" th:field="*{checkInDate}" />
    <input type="hidden" th:field="*{checkOutDate}" />
    <label for="name">Fulla namnet:</label>
    <input type="text" th:field="*{customer.name}" id="name" required><br><br>

    <label for="email">email:</label>
    <input type="email" th:field="*{customer.email}" id="email" required><br><br>

    <label for="phonenumber">number:</label>
        <input type="tel" th:field="*{customer.phoneNumber}" id="phonenumber" required><br><br>

    <button type="submit">Register booking</button>
</form>

</body>
</html>