<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rooms</title>
</head>
<body>
<th th:text="${roomTitle}"></th>
<div class="allRooms" th:unless="${#lists.isEmpty(allRooms)}">
    <table>
        <th th:text="${name}"></th>
        <tbody>
        <tr th:each="room : ${allRooms}">
            <td th:text="${room.roomNumber}"></td>
            <td th:text="${room.roomTypeString}"></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>