
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search for available rooms</title>
</head>
<body>
<h2 th:if="${editBookingId == null}">Search for:</h2>
<h2 th:if="${editBookingId != null}">Update booking:</h2>

<form th:action="@{/searchAvailableRooms}" th:object="${booking}" method="post">
    <input type="hidden" name="editBookingId" th:value="${editBookingId}">

    <label for="checkIn">Check-in:</label>
    <input type="date" th:field="*{checkInDate}" id="checkIn" required>

    <label for="checkOut">Check-out:</label>
    <input type="date" th:field="*{checkOutDate}" id="checkOut" required>

    <label for="guests">Guests:</label>
    <input type="number" th:field="*{guests}" id="guests" min="1" max="4" required>

    <button type="submit">Search Room</button>

    <a th:if="${editBookingId != null}" th:href="@{/bookings/{id}(id=${editBookingId})}">Back to booking</a>
</form>

</body>
</html>